code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nft {
  user-select: none;
  width: 300px;
  margin: 2rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;

  overflow: hidden;
  transition: 0.5s all;

  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }

  ins {
    text-decoration: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    .image-wrapper {
      position: relative;
      width: auto; /* Ensure the image takes up the full width of the card */
      height: 200px; /* Set this height based on your design */
      overflow: hidden;
      border-radius: 0.5rem;
      margin-right: 1.75rem;
    }

    .tokenImage {
      object-fit: cover;
    }

    .description {
      margin: 0.5rem 0;
      color: #a89ec9;
    }

    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 1.5rem;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;

        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }

      .duration {
        display: flex;
        width: 40%;
        align-items: center;
        color: #a89ec9;

        ins {
          margin: 0.5rem;
          margin-bottom: 0.4rem;
        }
      }
    }

    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;

      ins {
        color: #a89ec9;
        text-decoration: none;
      }

      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;

        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }

  /* Like btn and delete btn */
  .but {
    height: 28px;
    border: solid 2px #567af2;
    text-align: center;
    font-weight: 900;
  }

  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }

  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);

    ::before {
      top: -100%;
      left: 200%;
    }

    .but:hover {
      background-color: #cb2d3e;
      border: 5px solid #cb2d3e;
      color: #ece9e6;
    }
  }
}

.bg {
  position: absolute; /* Or remove this line if it isn't necessary */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure it stays behind all content */

  .h1 {
    font-size: 8rem;
  }
}
.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
@media (min-width: 700px) {
  .postDisplay {
    display: flex;

    flex-wrap: wrap;
    margin-left: 5%;
  }

  .nft {
    user-select: none;
    max-width: 300px;
    margin: 2rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(
      0deg,
      rgba(40, 44, 52, 1) 0%,
      rgba(17, 0, 32, 0.5) 100%
    );
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;

    overflow: hidden;
    transition: 0.5s all;

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }

    ins {
      text-decoration: none;
    }

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      .image-wrapper {
        position: relative;
        width: auto; /* Ensure the image takes up the full width of the card */
        height: 200px; /* Set this height based on your design */
        overflow: hidden;
        border-radius: 0.5rem;
        margin-right: 1.75rem;
      }

      .tokenImage {
        object-fit: cover;
      }

      .description {
        margin: 0.5rem 0;
        color: #a89ec9;
      }

      .tokenInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1.5rem;
        .price {
          display: flex;
          align-items: center;
          color: #ee83e5;
          font-weight: 700;

          ins {
            margin-left: -0.3rem;
            margin-right: 0.5rem;
          }
        }

        .duration {
          display: flex;
          align-items: center;
          color: #a89ec9;
          margin-right: 0.2rem;

          ins {
            margin: 0.5rem;
            margin-bottom: 0.4rem;
          }
        }
      }

      .creator {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: -0.3rem;

        ins {
          color: #a89ec9;
          text-decoration: none;
        }

        .wrapper {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: 0.3rem;
          margin: 0;
          margin-right: 0.5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;

          img {
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }

    /* Like btn and delete btn */
    .but {
      height: 28px;
      border: solid 2px #567af2;
      text-align: center;
      font-weight: 900;
    }

    ::before {
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: 0.7s all;
    }

    &:hover {
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);

      ::before {
        top: -100%;
        left: 200%;
      }

      .but:hover {
        background-color: #cb2d3e;
        border: 5px solid #cb2d3e;
        color: #ece9e6;
      }
    }
  }

  .bg {
    position: absolute; /* Or remove this line if it isn't necessary */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure it stays behind all content */

    .h1 {
      font-size: 8rem;
    }
  }
  .check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.25rem; */
    padding: 0;
    margin: 0;
  }
}
